.judul {
    width: 730px;
    margin: 0 auto;
    font-size: 14px;
    color: #1b8d04;
    font-weight:bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  label{
    color: #ffffff;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
  }
  option{
    font-family:Arial, Helvetica, sans-serif
  }
  form {
    display: grid;
    padding: 1em;
    background: #048d8d;
    border: 1px solid #c1c1c1;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;
    font-family:Arial, Helvetica, sans-serif;
  }
  form input {
    background: #fff;
    border: 1px solid #9c9c9c;
  }
  form button {
    background: lightgrey;
    padding: 0.7em;
    width: 100%;
    border: 0;
  }
  form button:hover {
    background: #38a70d;
  }
  
  label {
    padding: 0.5em 0.5em 0.5em 0;
  }
  
  input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
  }
  input:focus {
    outline: 3px solid gold;
  }
  
  @media (min-width: 400px) {
    form {
      grid-template-columns: 200px 1fr;
      grid-gap: 16px;
    }
  
    label {
      text-align: right;
      grid-column: 1 / 2;
    }
  
    input,
    button {
      grid-column: 2 / 3;
    }
  }

  table {
    width: 500px; /* Sets the width of the table */
    border: 1px solid #048d8d; /* Adds a border to the table */
    border-collapse: collapse; /* Removes the space between table cells */
    font-family: Arial, sans-serif; /* Sets the font family for the table */
    color: #048d8d; /* Sets the text color for the table */
    margin-left: auto;
    margin-right: auto;
  }
  
  th {
    background-color: #048d8d; /* Sets the background color for the table header cell */
    color: rgb(255, 255, 255); /* Sets the text color for the table header cell */
    font-size: 16px; /* Sets the font size for the table header cell */
    font-weight: bold; /* Makes the text bold for the table header cell */
    text-align: center; /* Centers the text for the table header cell */
    padding: 10px; /* Adds padding to the table header cell */
  }
  
  td {
    border: 1px solid #006666; /* Adds a border to the table cells */
    padding: 10px; /* Adds padding to the table cells */
    text-align: left; /* Aligns the text to the left for the table cells */
  }

  .copy{ 
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #006666;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
  }

  img {
    width: 25px;
    height: auto;
  }

  body{
    background-image: url("assets/as.avif");
    background-size: cover;
  }
  